@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    /* ## Colors */

    --VERY-DARK-GRAYISH-BLUE: hsl(217, 19%, 35%);
    --DESATURATED-DARK-BLUE: hsl(214, 17%, 51%);
    --GRAYISH-BLUE: hsl(212, 23%, 69%);
    --LIGHT-GRAYISH-BLUE: hsl(210, 46%, 95%);
}

/* ----------GLOBAL RESET---------- */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

/* ---------------------------------- */


body {
    font-family: 'Manrope', sans-serif;
    height: 100vh;
    background-color: var(--LIGHT-GRAYISH-BLUE);
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    max-width: 43rem;
    display: grid;
    grid-template-columns: 40% 1fr;
    background-color: white;
    border-radius: .5rem;
    margin: auto 1.5rem;
    position: relative;
    box-shadow: 0.2rem 0.2rem 3.1rem hsla(217, 19%, 35%, 20%);

}

.image-container img {
    object-fit: cover;
    height: 100%;
    object-position: left;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.text-container {
    padding: 1.9rem;
}

.text-container h3 {
    color: var(--VERY-DARK-GRAYISH-BLUE);
    line-height: 1.5;
    margin-bottom: 1rem;
}

.subtext {
    font-size: 13px;
    color: var(--DESATURATED-DARK-BLUE);
    line-height: 1.5;
    margin-bottom: 1rem;
    font-weight: 500;
}

.author-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-info {
    display: flex;
    align-items: center;
}

.author-image {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}

.author-image img {
    border-radius: 50%;
}

.author-details h4 {
    color: var(--VERY-DARK-GRAYISH-BLUE);
    font-size: .8rem;
    margin-bottom: .25rem;
    letter-spacing: .5px;
}

.author-details p {
    color: var(--DESATURATED-DARK-BLUE);
    font-size: .8rem;
}

.share-icon {
    background-color: var(--LIGHT-GRAYISH-BLUE);
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s;
}

.share-icon:hover {
    background-color: var(--DESATURATED-DARK-BLUE);
}

.share-icon:hover svg path {
    fill: white;
}

.hidden {
    visibility: hidden;
}

.popup {
    position: absolute;
    background-color: var(--VERY-DARK-GRAYISH-BLUE);
    display: flex;
    align-content: center;
    justify-content: center;
    padding: .9rem 1.9rem;
    width: 15rem;
    right: -8%;
    bottom: 32%;
    border-radius: inherit; 
    box-shadow: 5px 5px 20px hsla(217, 19%, 35%, 15%);
}

.popup::after {
    content: "";
    position: absolute;
    border: 0.6rem solid transparent;
    top: 100%;
    left: 54%;
    border-top-color: var(--VERY-DARK-GRAYISH-BLUE);
}


.popup-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktop-share-icon {
    display: none;
}

.share-text {
    text-transform: uppercase;
    color: var(--GRAYISH-BLUE);
    font-size: .8rem;
    letter-spacing: .3em;
}

.popup-link img {
    margin-left: 1.1rem;
}



@media screen and (max-width:450px) {
    .card {
        grid-template: 35% 1fr 1fr/ 1fr;
        max-height: 30em;
        overflow: hidden;
    }

    .text-container h3 {
        font-size: 1em;
    }

    .subtext {
        font-size: 0.9em;
        margin-bottom: 2em;
    }

    .image-container img {
        object-fit: cover;
        height: 100%;
        object-position: left;
        border-bottom-left-radius: 0;

    }

    .popup {
        justify-content: space-between;
        width: 100%;
        bottom: 0;
        right: 0;
        border-radius: 0;
    }

    .desktop-share-icon {
        display: inline-flex;
    }
}